@model List<QuanLyNguoiDungOrderFoodOnline.Models.UserViewModel>
@{
  ViewData["Title"] = "Quản Lý Người Dùng";
  var successMessage = TempData["successMessage"]?.ToString();
  var errorMessage = TempData["errorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(successMessage))
{
  <div class="alert alert-success">
    <strong>Success: </strong>@successMessage
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
  <div class="alert alert-danger">
    <strong>Error: </strong>@errorMessage
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
}
<form>
  <button
    asp-action="Create"
    asp-controller="User"
    class="btn btn-primary"
  >Tạo Thông Tin User</button>
  <table class="table table-responsive table-hover">
    <thead>
      <tr class="table-active">
        <th>Id</th>
        <th>@Html.DisplayNameFor(model => model[0].FullName)</th>
        <th>@Html.DisplayNameFor(model => model[0].DateOfBirth)</th>
        @* <th>@Html.DisplayNameFor(model => model[0].Email</th> *@
        <th>Email</th>
        <th>Coin</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @if (Model != null && Model.Any())
      {
        @foreach (var user in Model)
        {
          <tr>
            <td>@user.Id</td>
            <td>@user.FullName</td>
            <td>@user.DateOfBirth.ToString("dd/MM/yyyy")</td>
            <td>@user.Email</td>
            <td>@user.Coin</td>
            <td>
              <div class="btn-group btn-group-sm">
                <a asp-action="Edit"
                   asp-controller="User"
                   asp-route-id="@user.Id"
                   class="btn btn-primary">Sửa</a>

                <a asp-action="Delete"
                   asp-controller="User"
                   asp-route-id="@user.Id"
                   class="btn btn-danger">Xóa</a>
              </div>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</form>
